
body { background: center; font-color: white; background-color: #777; 

}
.navbar { text-align: center; font-size: 14px; color: white; }
.input { text-align: center;}
.container { border: thin; background-color: #777; }
.listItem {font-color:red; }